#footer {
  margin: 1rem;
  color: var(--text-color-secondary);
  font-size: var(--fs-sm);
}

#footer-links {
  display: flex;
  gap: 24px;
}

@media (width >=80em) {
  #footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 2rem;
    margin-block: 1.5rem;
  }
}
