#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background-color: var(--surface-color);
  font: var(--font-p-md);
  color: var(--text-color-secondary);
  max-width: 1280px;
  margin-inline: auto;
}

#profile h1 {
  font: var(--font-h1);
  color: var(--text-color-primary);
}

#profile {
  display: flex;
  width: 592px;
  gap: 32px;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  width: 280px;
}

#info li {
  display: flex;
  gap: 8px;
}
