#container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--surface-color);
}

#profile h1 {
  font: var(--font-h1);
  color: var(--text-color-primary);
}

#profile {
  display: flex;
  flex-direction: column;
  max-width: 22.5rem;
  gap: 1rem;

  & p {
    font-size: var(--fs-sm);
    line-height: 1.7;
    color: var(--text-color-secondary);
  }
}

#profile img {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  max-width: 280px;
  margin-top: 2rem;
  & span {
    font: var(--fs-sm);
    color: var(--text-color-secondary);
  }
}

#info li {
  display: flex;
  gap: 8px;
}

@media (width >= 80em) {
  #container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #profile {
    display: flex;
    flex-direction: row;
    max-width: 37rem;
    gap: 2rem;
    align-items: center;
  }

  #profile img {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
  }

  #about {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & br:first-child {
      display: none;
    }
  }

  #info {
    width: 280px;
  }
}
