.photo-gallery {
  margin-block: 1rem;
}

.photo-gallery img {
  width: 20.5rem;
}

@media (width >= 80em) {

  :root {
    --gap: 1.5rem;
  }
  .photo-gallery img {
    width: 17.875rem;
  }

  .photo-gallery {
    margin-inline: 2rem;
    margin-block: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    
  }
}
